﻿<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikleriniz</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Acentamızda yapmış olduğunuz güncel rezervasyonları , geçmiş rezervasyonları ve diğer birçok bilgiye bu kartdan ulaşabilirsiniz

                </p>
                <h4 class="card-title"><hr /></h4>
                <h6>Aktif Randevu Sayınız: @ViewBag.aktifRezv</h6>
                <h6>Geçmiş Randevu Sayınız: @ViewBag.geçmişRezv</h6>
                <h6>Onay Bekleyen Randevu Sayınız: @ViewBag.onayBekleyenRezv</h6>
                <h6>Yorumlarınız: @ViewBag.totalComment</h6>
                <h6>Gelen Bildirim: @ViewBag.notificationCount</h6>
                <h6>Rotalarınız: @ViewBag.totalTour</h6>
                <h6>Rehberlerimiz: @ViewBag.totalGuide</h6>
                <h6>Kullanıcılar: @ViewBag.totalMember</h6>
            </div>
        </div>
    </div>
</div>